

/********* Large device only *********/

@media (min-width: 1200px) {

}
/********* END - Large device only *********/





/********* Medium device only *********/
@media (min-width: 992px) and (max-width: 1199px) {

}
/********* END - Medium device only *********/





/********* Small device only *********/  
@media (min-width: 768px) and (max-width: 991px) {

}
/********* END - Small device only *********/






/********* Extra small device only *********/
@media (max-width: 767px) {
    .collapse {
        background-color: lightgray;
    }

    .collapsing {
        background-color: lightgray;
    }

    .navbar-default .navbar-nav>li>a {
        color: rgb(110, 110, 110)
    }
}
/********* END - Extra small device only *********/





/********* Super extra small devices *********/
@media (max-width: 479px) {
    .navbar-toggle {
        float: right;
    }
}
/********* END - Super extra small devices *********/
