


/********* Large device only *********/

@media (min-width: 1200px) {

}
/********* END - Large device only *********/





/********* Medium device only *********/
@media (min-width: 992px) and (max-width: 1199px) {

}
/********* END - Medium device only *********/





/********* Small device only *********/  
@media (min-width: 768px) and (max-width: 991px) {

}
/********* END - Small device only *********/






/********* Extra small device only *********/
@media (max-width: 767px) {

    

    .collapse {
        background-color: var(--my-background-color);
    }

    .collapsing {
        background-color:  var(--my-background-color);
    }

    .navbar-default .navbar-nav>li>a {
        color: rgb(167, 167, 167)
    }

    .navbar-default .navbar-nav>li>a:hover {
        background-color: var(--my-background-color); 
    }
    
}
/********* END - Extra small device only *********/




/********* Super extra small devices *********/
@media (max-width: 479px) {
    .navbar-toggle {
        float: right;
    }
}
/********* END - Super extra small devices *********/

#menu-title {
    padding-bottom: 20px;
}

p {
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.navbar {
    background-color: var(--my-background-color);
}

.main-text-container {
    background-color:  var(--my-background-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.container {
    width: 95%;
}


:root {
     --my-background-color: rgba(211, 211, 211, 0.541);
     
}